<a href="https://www.kaggle.com/code/hadikp/titanic-survival-prediction?scriptVersionId=248951376" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
import pandas as pd

In [2]:
import os

os.listdir("/kaggle/input/titanic/")

['train.csv', 'test.csv', 'gender_submission.csv']

In [3]:
train = pd.read_csv("/kaggle/input/titanic/train.csv")
test = pd.read_csv("/kaggle/input/titanic/test.csv")

In [4]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [7]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [8]:
y_train = train['Survived']
x_train = train[['Pclass','Sex','Age','SibSp','Parch','Fare']]

In [9]:

x_test = test[['Pclass','Sex','Age','SibSp','Parch','Fare']]

In [10]:
col = (x_train.dtypes=="object")
obj_cols = list(col[col].index)
print(f"Columns with categorical data = {obj_cols}")

Columns with categorical data = ['Sex', 'Cabin']

In [11]:
from sklearn.preprocessing import OrdinalEncoder

num_x_tr = x_train.copy()
num_x_tst = x_test.copy()

ord_enc = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1)

num_x_tr[obj_cols] =  ord_enc.fit_transform(x_train[obj_cols])
num_x_tst[obj_cols] =  ord_enc.transform(x_test[obj_cols])

print(num_x_tr)

     Pclass  Sex   Age  SibSp  Parch     Fare  Cabin
0         3  1.0  22.0      1      0   7.2500    NaN
1         1  0.0  38.0      1      0  71.2833   81.0
2         3  0.0  26.0      0      0   7.9250    NaN
3         1  0.0  35.0      1      0  53.1000   55.0
4         3  1.0  35.0      0      0   8.0500    NaN
..      ...  ...   ...    ...    ...      ...    ...
886       2  1.0  27.0      0      0  13.0000    NaN
887       1  0.0  19.0      0      0  30.0000   30.0
888       3  0.0   NaN      1      2  23.4500    NaN
889       1  1.0  26.0      0      0  30.0000   60.0
890       3  1.0  32.0      0      0   7.7500    NaN

[891 rows x 7 columns]

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

In [12]:
num_x_tr['Sex']

0      1.0
1      0.0
2      0.0
3      0.0
4      1.0
      ...
886    1.0
887    0.0
888    0.0
889    1.0
890    1.0
Name: Sex, Length: 891, dtype: float64

In [13]:
num_x_tr.isnull().any()

missing = [i for i in num_x_tr.columns if num_x_tr[i].isnull().any()]
print(f"Columns with missing values = {missing}")

Columns with missing values = ['Age', 'Cabin']

In [14]:
from sklearn.impute import SimpleImputer
my_imputer = SimpleImputer(strategy='mean')
imp_x_train = pd.DataFrame(my_imputer.fit_transform(num_x_tr))
imp_x_test = pd.DataFrame(my_imputer.transform(num_x_tst))

imp_x_train.columns = num_x_tr.columns
imp_x_test.columns = num_x_tst.columns

In [15]:
print(imp_x_train)

     Pclass  Sex        Age  SibSp  Parch     Fare  Cabin
0       3.0  1.0  22.000000    1.0    0.0   7.2500   76.0
1       1.0  0.0  38.000000    1.0    0.0  71.2833   81.0
2       3.0  0.0  26.000000    0.0    0.0   7.9250   76.0
3       1.0  0.0  35.000000    1.0    0.0  53.1000   55.0
4       3.0  1.0  35.000000    0.0    0.0   8.0500   76.0
..      ...  ...        ...    ...    ...      ...    ...
886     2.0  1.0  27.000000    0.0    0.0  13.0000   76.0
887     1.0  0.0  19.000000    0.0    0.0  30.0000   30.0
888     3.0  0.0  29.699118    1.0    2.0  23.4500   76.0
889     1.0  1.0  26.000000    0.0    0.0  30.0000   60.0
890     3.0  1.0  32.000000    0.0    0.0   7.7500   76.0

[891 rows x 7 columns]

In [16]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=90,max_depth=5, random_state=1)
model.fit(imp_x_train,y_train)

RandomForestClassifier(max_depth=7, n_estimators=300, random_state=1)

In [17]:
from sklearn.metrics import mean_absolute_error
preds = model.predict(imp_x_train)
mean_absolute_error(y_train,preds)

0.10549943883277217

In [18]:
pred = model.predict(imp_x_test)

In [19]:
print(pred)

[0 0 0 0 1 0 1 0 1 0 0 0 1 0 1 1 0 0 0 0 0 0 1 0 1 0 1 0 0 0 0 0 1 0 0 0 0
 0 0 0 0 0 0 1 1 0 0 0 1 1 1 0 1 1 0 0 0 0 0 1 0 0 0 1 1 1 1 0 0 1 1 0 1 0
 1 0 0 1 0 1 1 0 0 0 0 0 1 0 1 1 0 0 1 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 0 0 0
 1 1 1 1 0 0 1 0 1 1 0 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0
 0 0 1 0 0 0 0 0 1 1 0 1 1 1 1 0 0 1 0 0 1 0 0 0 0 0 0 1 1 1 1 1 0 1 1 0 1
 0 1 0 0 0 0 0 0 0 1 0 1 1 0 0 1 1 0 1 0 0 0 0 1 0 0 0 0 1 0 0 1 0 1 0 1 0
 1 0 1 1 0 1 0 0 0 1 0 0 0 0 0 0 1 1 1 1 0 0 0 1 1 0 1 0 1 0 1 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 1 0 1 0 0 1 0 0 0 1 0 1 0 0
 1 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0
 1 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 0 1 0 0 0 1 0
 0 1 0 0 1 1 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 1 0 0 0 0
 1 1 1 1 1 1 0 1 0 0 0]

In [20]:
# Save test predictions to file
output = pd.DataFrame({'PassengerId': test['PassengerId'].astype(int),
                       'Survived': (pred)})
output.to_csv('submission.csv', index=False)

In [21]:
df = pd.read_csv("submission.csv")
df.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1